# Configuración de MongoDB para Theca Backend

# Conexión a MongoDB:
MONGO_HOST=44.211.11.219
MONGO_PORT=27017
MONGO_DATABASE=theca_db
MONGO_USERNAME=theca_user
MONGO_PASSWORD=theca_123
MONGO_AUTH_DATABASE=admin

# Puerto de la aplicación:
SERVER_PORT=8080